body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #444;
}

a {
    text-decoration: none;
    color: #4183c4;
}

.nav {
    padding: 35px 0 20px;
    margin-bottom: 10px;
}

.nav ul.links {
    float: right;
    padding: 0;
    margin: 2px 0 0;
}

.nav ul.links>li {
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    list-style-type: none;
}

.nav ul.links>li a {
    color: #999;
    vertical-align: middle;
}

.nav .logo {
    width: auto;
    height: 30px;
}

.nav .logo a {
    color: #999;
    font-size: 23px;
    font-weight: lighter;
    position: absolute;
    margin-left: 5px;
}

.nav .logo a .bold {
    font-weight: normal;
}

.heading {
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .15);
    background-color: #aaa;
}

.heading .wrap {
    position: relative;
    z-index: 2;
    padding: 50px 0;
    color: #fff;
}

.heading_background_index {
    height: 225px;
    background-image: url(images/pattern_green_circles.svg);
}

.heading_background_archive {
    height: 225px;
    background-image: url(images/pattern_blue_circles.svg);
}

.heading_background_tips {
    height: 225px;
    background-image: url(images/pattern_pink_waves.svg);
}

.heading_background {
    height: 225px;
    background-image: url(images/pattern_circles.svg);
}

.heading h1 {
    margin-bottom: 10px;
    margin-left: 105px;
    font-size: 48px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -1px;
}

.heading .icon-container {
    width: 68px;
    height: 68px;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 34px;
}

.heading .icon-container img {
    width: 32px;
    height: 68px;
}

.heading .sub-heading {
    margin-left: 108px;
    color: rgba(255, 255, 255, .7);
    clear: left;
}

.heading .sub-heading .icon {
    text-align: center;
    position: relative;
    width: 14px;
    height: 16px;
    top: 2px;
    display: inline-block;
    background-image: url(images/svg/issue-opened.svg);
}

.heading .sub-heading img {
    width: 16px;
    height: 16px
}

.heading .icon-container {
    position: absolute;
    left: 15px;
    display: inline-block;
    float: left;
    margin-top: 30px;
    margin-right: 20px;
}

.container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.wrap {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    width: 650px;
    padding-bottom: 30px;
    font-size: 18px;
    min-height: 225px;
}

.sidebar {
    float: right;
    width: 200px;
}

.sidebar ol {
    width: 200px;
    margin: 0;
    padding: 0;
}

.sidebar ol>li {
    padding: 5px 0;
    margin: 0;
    font-size: 16px;
    list-style-type: none;
}

.sidebar ol>li a {
    color: #4183c4;
    text-decoration: none;
}

.sidebar ol>li a.active {
    font-weight: bold;
    color: #444;
}

.sidebar ol>li a:hover, .sidebar ol>ul>li a:hover {
    text-decoration: underline;

}

.sidebar ol>ul>li {
  padding: 5px 0;
  margin: 0;
  line-height: 1.1em;
  font-size: 14px;
}

.sidebar ol>ul>li a {
    color: #2c5d8d;
    text-decoration: none;
}

.icon-container-large {
    width: 100%;
    height: 300px;
}

.icon-container-large a {
    color: #444;
}

.icon-container-large a:hover {
    text-decoration: underline;
    text-decoration-color: #000;
}

.icon-desktop-download {
    float: right;
    margin-right: 75px;
    width: 210px;
}

.icon-file-code {
    float: left;
    width: 160px;
    margin-left: 75px;
}



footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.3;
    color: #999;
    text-align: center;
}
