body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #000;
}

a {
  text-decoration: none;
}

.nav {
    padding: 35px 0 20px;
    margin-bottom: 10px;
}

.nav ul.links {
    float: right;
    padding: 0;
    margin: 2px 0 0;
}

.nav ul.links>li {
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    list-style-type: none;
}

.nav ul.links>li a {
    color: #999;
    vertical-align: middle;
}

.nav .logo {
    width: auto;
    height: 30px;
}

.nav .logo a {
    color: #999;
    font-size: 23px;
    font-weight: lighter;
    position: absolute;
    margin-left: 5px;
}

.nav .logo a .bold {
    font-weight: normal;
}

.container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.video {
    width: 100%;
    background-color: #000;
    max-height: 394px;
}

.heading {
    height: 150px;
    width: 100%;
    background-color: #8A94C4;
    font-size: 30px;

}

.heading_text {
  margin: 0 auto;
  padding-top: 40px;
  font-size: 50px;
  width: 390px;
  color: #fff;
font-weight: bold;
  vertical-align: middle;
}

.wrap {
    width: 700px;
    padding: 0 15px;
    margin: 0 auto;

}

.content {
    width: 650px;
    padding-bottom: 30px;
    font-size: 18px;
}

.orderBtn {
      letter-spacing: 1px;
      padding: 8px 25px 5px;
      transition: all .2s ease-in;
      border-radius: 3px;
      color: #FFF;
      background: #ff8d6b;
      box-shadow: 0 3px 0 0 #b26047;
      border-color: transparent;
      font-weight: normal;
      font-size: 1em;
      width: 200px;
      text-decoration: none;


  }

  .orderBtn:hover {
      color: #000;
      letter-spacing: 1px;
      font-size: 18px;
      background: #f7a489;
      box-shadow: 0 3px 0 0 #b17461;
      border-color: transparent;
      padding: 8px 25px 5px;
  }

  .orderBtn:active {
      background: #d08871;
      box-shadow: 0 3px 0 0 #774e41;
  }



.matkasse h1 {
  font-weight: 500;
}

.matkasse .field {
    width: 100px;
    margin: 0px 5px;
}

.discountTag {
    font-weight: 500;
    font-size: 15px;
}

.price {

    font-size: 3.5em;
}
