.spacing {
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
}
.navbar {
    width: 100%;
    position: fixed;
    top: -18px;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    background-color: #D0E2E0;
}

.navbar li {
    float: left;
}

.navbar .right {
    float: right;
}

.navbar li a {
    display: block;
    color: #003333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #b3cccc;
}
