body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #444;
}

.nav {
    padding: 35px 0 20px;
    margin-bottom: 10px;
}

.nav ul.links {
    float: right;
    padding: 0;
    margin: 2px 0 0;
}

.nav ul.links>li {
    display: inline-block;
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    list-style-type: none;
}

.nav ul.links>li a {
    color: #999;
    vertical-align: middle;
}

.nav .logo {
    width: auto;
    height: 30px;
}

.nav .logo a {
    color: #999;
    font-size: 23px;
    font-weight: lighter;
    position: absolute;
    margin-left: 5px;
}

.nav .logo a .bold {
    font-weight: normal;
}

.container {
    width: 1440px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

.wrap {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    width: 650px;
    padding-bottom: 30px;
    font-size: 18px;
}

.matkasse {
  width: 400px;
  min-height: 500px;
  height: auto;
  float: left;
}

.matkasse .field {
  width: auto;
  height: 20px;
  margin: 0px 5px;
}
